assets/wiitdb.rnc

default namespace = ""
namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"

start =
    element datafile {
        attribute xsi:noNamespaceSchemaLocation { xsd:NCName },
        element WiiTDB {
            attribute games { xsd:integer },
            attribute version { xsd:integer }
        },
        element companies {
            element company {
                attribute code { xsd:NMTOKEN },
                attribute name { text }
            }+
        },
        element genres {
            element maingenre {
                attribute name { xsd:NCName },
                loc+,
                element subgenre {
                    attribute name { text },
                    loc+
                }+
            }+
        },
        element descriptors {
            element descr {
                attribute name { text },
                loc+
            }+
        },
        element game {
            attribute name { text },
            element id { xsd:NMTOKEN },
            element type { text },
            element region { text },
            element languages { text },
            element locale {
                attribute lang { xsd:NCName },
                element title { text },
                element synopsis { text }
            }*,
            element developer { text }?,
            element publisher { text },
            element date {
                attribute day { text },
                attribute month { text },
                attribute year { text }
            },
            element genre { text }?,
            element rating {
                attribute type { text },
                attribute value { text },
                element descriptor { text }*
            },
            element wi-fi {
                attribute players { xsd:integer },
                element feature { xsd:NCName }*
            },
            element input {
                attribute players { xsd:integer },
                element control {
                    attribute required { xsd:boolean },
                    attribute type { text }
                }*
            },
            element save {
                attribute blocks { xsd:integer },
                attribute copy { xsd:boolean }?,
                attribute move { xsd:boolean }?
            }?,
            element rom {
                attribute crc { xsd:NMTOKEN }?,
                attribute md5 { xsd:NMTOKEN }?,
                attribute name { text }?,
                attribute sha1 { text }?,
                attribute size { xsd:integer }?,
                attribute version { text }
            }+,
            element case {
                attribute color { text }?,
                attribute versions { xsd:integer }?
            }?
        }+
    }
loc =
    element loc {
        attribute lang { xsd:NCName },
        text
    }
